*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
}

img {
    border-radius: 8px;
  }

.navbar {
    display: flex;
    align-items: center;
    padding: 20px;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul{
    display: inline-block;
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-right: 30px;
}

a.topnav {
    text-decoration: none;
    color: #555;
}

a.item {
    text-decoration: none;
    color: black;
}

a {
    text-decoration: none;
    color: #555;
}

p {
    color: #555;
}

.container {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-2 {
    flex-basis: 50%;
    min-width: 300px;
}

.col-2 img{
    max-width: 100%;
    padding: 50px 0;
}

.col-2 h1{
    font-size: 40px;
    line-height: 60px;
    margin: 25px 0;
}

/* Button for (Shop Now, Buy Now, and so on) */
.btn {
    display: inline-block;
    background: rgb(0, 0, 0);
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}

.btn:hover {
    background: #b8872c;
}
/* End of button */

/* Website Main Menu CSS */
.header {
    background: radial-gradient(rgb(254, 209, 30),#fffffe);
    background-size: cover;
    background-position: center;
}

.header .row{
    margin-top: -80px;
}
/* End of Website Main Menu */

/* Featured Products */
.col-3 {
    flex-basis: 25%;
    padding: 15px;
    min-width: 100px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}

.col-3 img {
    width: 100%;
}

.title {
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
}

/* The red color below Featured Items and Recent Items */
.title:after {
    content: '';
    background: #ff523b;
    width: 80px;
    height: 10px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
/* End of The red color below Featured Items and Recent Items */

.col-3:hover {
    transform: translateY(-5px);
}

/* When the user scrolls down 50px from the top of the document, nav bar will slide down */
#navbar {
    background-color: rgb(255, 255, 40);
    position: fixed;
    top: -100px;
    width: 100%;
    display: block;
    transition: top 0.3s;
    padding-right: 2%;
    z-index: 1000;
}
  
#navbar a {
    float: right;
    display: block;
    color: #2c2c2c;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-size: 17px;
}

#navbar a:hover {
    background-color:rgb(255, 255, 255);
    color: black;
}
/* End of nav bar slide down */

/* Footer */
footer {
    background: #111;
    height: 100;
    width: 100vw;
    padding-top: 15px;
    color: rgb(255, 166, 0);
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}

.footer-bottom {
    background: #000;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}

.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
    color: white;
}
/* End of Footer */